<% include partials/header.ejs %>

<h2>Compose</h2>
<p>
  <form class="" action="/compose" method="post">
    <input type="text" name="postTitle">
    <button type="submit" name="button">Publish</button>
  </form>
</p>


<% include partials/footer.ejs %>
