<% include partials/header.ejs %>


<p>
  <h2>Home</h2>
  <%=homeStartingContent%>
</p>

<% posts.forEach(function(post) { %>
  <h2><%=post.title%></h2>
  <p>
    <%-post.content%>
  </p>
<% }); %>



<% include partials/footer.ejs %>
