<% include partials/header.ejs %>


<p>
  <h2>Home</h2>
  <%=homeStartingContent%>
</p>
<% for (let i = 0; i < posts.length; i++) {%>
<p>
  <h2><%=posts[i].title%></h2>
  <p>
    <%=posts[i].content%>
  </p>
</p>
<% } %>



<% include partials/footer.ejs %>
